.syugou{
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
    background-image: url(syugou.jpg); 
}
.moji{
    padding: 10px 20px;              
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;     
    background-color: rgba(255, 255, 255, 0.7);  
}
body{
    background-image: b;
    background-color:darkseagreen;
}
